@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Poppins');
 header{
	width: 80%;
	margin-left: auto;
    margin-right: auto;
}
header li{
	display: inline-block;
	list-style-type: none; 
	margin-right: 50px;
}
 h3{
 	padding:10px;
 }
 


main{
	margin-left: auto;
    margin-right: auto;
/*	display: flex; 
	justify-content: space-between;
	width: 85%;
	align-items: center;*/
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}



#first{
 	
	margin-right: 7px;
}

#second{
 
	margin-right: 7px;
}


footer{
	font-family: 'Poppins';
	width: 80%;
	margin-left: auto;
    margin-right: auto;
    font-size: 95%;
}

 @media screen and (max-width: 600px){
	header li{
	display: list-item;
}
	header ul{
	margin-top: 0;
}
	main{
		width: 320px;
		height: auto;
	}
	 
}




@media all and (max-width: 1079px) and (orientation: landscape) {



main{
	margin-left: auto;
    margin-right: auto;
	display: flex; 
	justify-content: space-between;
	width: 85%;
	align-items: center;
	padding: 5px;
}


}